.more-button {
    font-family: 'Inter', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFF;
    background-color: #2F2F2F;
    border-radius: 6px;
    border: none;
    padding: 10px 50px;
    width: 100%;
    margin-bottom: 70px;
    margin-top: 25px;
    transition: opacity 1s;
    cursor: pointer;
}

.more-button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    .more-button {
        grid-column: 1/-1;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .more-button {
        margin-top: 20px;
    }
}
