.movies-card-list {
    background-color: #202020;
    padding: 40px 10px 10px;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    row-gap: 34px;
    flex-grow: 1;
    position: relative;
}

@media screen and (min-width: 768px) {
    .movies-card-list {
        padding: 70px 30px 10px;
        grid-template-columns: repeat(2, 339px);
        gap: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-card-list {
        padding: 70px 70px 10px;
        grid-template-columns: repeat(4, 270px);
        gap: 38px 20px;
    }
}
