.error {
    background-color: #202020;
    padding: 30px 10px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.error__number {
    font-family: 'Inter', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
    color: #FFF;
    margin: auto 0 10px;
}

.error__info-text {
    font-family: 'Inter', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFF;
    margin: 0;
}

.error__button-go-back {
    font-family: 'Inter', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4285F4;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: auto;
}

@media screen and (min-width: 768px) {
    .error {
        justify-content: center;
    }
    .error__number {
        font-size: 140px;
        line-height: 169px;
        margin: 0;
    }

    .error__info-text {
        font-size: 16px;
        line-height: 19px;
    }

    .error__button-go-back {
        font-size: 14px;
        line-height: 17px;
        margin-top: 185px;
        margin-bottom: 0;
    }
}
