.notification-container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999999
}

.top-right {
    top: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.bottom-right {
    bottom: 12px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.top-left {
    top: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.bottom-left {
    bottom: 12px;
    left: 12px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.toast {
    transition: .3s ease;
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 15px;
    width: 275px;
    max-height: 150px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 5px #999;
    opacity: .9;
    background: #fff no-repeat 15px;
    color: #fff;
    padding: 10px 30px 10px 70px;
    cursor: default;
}

.toast:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-size: 20px;
}

.toast:hover {
    box-shadow: 0 0 5px #fff;
    opacity: 1;
    cursor: pointer
}

.toast_success {
    background-color: #5cb85c;
}

.toast_success:before {
    background: url("../../images/success-icon.svg") no-repeat center;
    background-size: 30px;
}

.toast_error {
    background-color: #d9534f;
}

.toast_error:before {
    background: url("../../images/error-icon.svg") no-repeat center;
    background-size: 30px;
}

.toast_warning {
    background-color: #f0ad4e;
}

.toast_warning:before {
    background: url("../../images/warning-icon.svg") no-repeat center;
    background-size: 30px;
}

.toast_info {
    background-color: #5bc0de;
}

.toast_info:before {
    background: url("../../images/info-icon.svg") no-repeat center;
    background-size: 30px;
}

.toast__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toast__message {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}

.toast__close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background: transparent url("../../images/close-icon.svg") no-repeat center;
    width: 10px;
    height: 12px;
    border: none;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);

    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);

    }
    to {
        transform: translateX(0);
    }
}

@media screen and (min-width: 768px) {
    .toast {
        width: 350px;
    }
}
